<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="user-avatar" src="https://scontent.fhan15-1.fna.fbcdn.net/v/t39.30808-6/453414271_1251465636230123_1021836384090639725_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=qXI3b0F6LOkQ7kNvgH8xQ5_&_nc_zt=23&_nc_ht=scontent.fhan15-1.fna&_nc_gid=AiF3unSy8oyi8hYlW2t1IHa&oh=00_AYByVfeAuxsbBkyfb4ewpFMi4Vr2sTmEjR8cGApvD6XGsw&oe=674D9BDB" />
            Trương Đình Hoài Nam
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng khoá học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài đăng của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>